<% if !@party.blank? %>
<h2>Parties!</h2>
<% @parties.each do |party| %>
<ol><li><%= link_to('&#10003.chr', {:action => 'rsvp/create'}) %></li>
  <li><%= link_to('&#10006.chr', {:action => 'rsvp/destroy'})%></li>
<li> <%= party.title %></li>
  <li> <%= party.description %> </li></ul>
<%end %>
  <% end %>
<% if @parties.blank? %>
<H2> No parties found! Maybe you should add one.</h2>
<%= link_to('Dashboard', {:action => 'dashboard'}) %>
<% end %>